language: rust
rust:
  - nightly

before_script: |
  rustup install nightly-2019-02-21
  rustup component add rustfmt-preview clippy-preview
script: |
  cargo fmt --all -- --check &&
  cargo clippy --all -- -D clippy::all &&
  cargo build --all --verbose &&
  cargo test  --all --verbose
cache: cargo
