name: CI

on:
  pull_request:
  push:
    branches:
      - staging
      - trying

env:
  RUSTFLAGS: -Dwarnings

jobs:
  build_and_test:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        rust: [stable, nightly]

    steps:
    - uses: actions/checkout@master

    - name: Install ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true

    - name: check
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --all --bins --examples

    - name: check avoid-dev-deps
      uses: actions-rs/cargo@v1
      if: matrix.rust == 'nightly'
      with:
        command: check
        args: --all -Z avoid-dev-deps

    - name: check unstable
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --all --bins --examples --tests --features unstable

    - name: check benches
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --benches --features __internal__bench

    - name: tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all

    - name: tests unstable
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all --features unstable

  check_fmt_and_docs:
    name: Checking fmt, clippy, and docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: setup
      run: |
        rustup component add clippy rustfmt
        rustc --version

    - name: clippy
      run: cargo clippy -- -D warnings

    - name: fmt
      run: cargo fmt --all -- --check

    - name: Docs
      run: cargo doc --no-deps --features unstable
